@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Teste"]</p>

<address>
    <strong>More information: </strong> <a href="http://google.com.br">google</a>
</address>